<!-----NAV------->
<nav class="navbar navbar-expand-lg navbar-light fixed-top text-danger pd-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.netflix.com">
      <img src="./assets/net-logo_2.png" height="90px" width="160px">
    </a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="Inicio" routerLinkActive="active" href="index.html"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="Servicios" routerLinkActive="active" href="#servicios"><i class="fas fa-cogs"></i> Servicios</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-light" href="#"><i class="fas fa-question-circle"></i> Información</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="Galeria" routerLinkActive="active" href="#contacto" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-images"></i> Galería</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="Contacto" routerLinkActive="active" href="#contacto" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-envelope"></i> Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!------ CASTRO GALANTE, CARLOS JOSÉ - D.N.I.: 44.316.209 | DESAFIO: SEMANA N°8------>