/* CASTRO GALANTE, CARLOS JOSÉ - DNI: 44.316.209 | DESAFÍO: SEMANA N°8 */

/* ------HERO DE SERVICIOS------ */
.hero2{
    height:65rem;
    width: 100%;
    border-bottom: rgb(46, 46, 46) solid 8px;
    background-image:url('/assets/net-juegos.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat; 
    position: relative;
}

.services-title{
    padding:15px;
    font-size: 90px;
    color:rgb(255, 255, 255);
    text-shadow: rgb(82, 3, 253) 0em 0.1em 0.4em;
    border: rgb(255, 81, 81) 6px solid;
    background-color: rgba(0, 0, 0, 0.600);
}

/* ------CARDS------ */
.servicios{
    margin-top: 60px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.for-you{
    margin-top: 0px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.cards{
    border-bottom: rgb(46, 46, 46) solid 8px;
}

.card{
    background-color: black;
}

.cards-body{
    height: 180px;
}

.cards-ind{
    transition: all .2s;
    border: none;
}


.cards-ind:hover{
    transform: scale(1.1,1.1);
}

.imagen-card img{
    height:220px;
    width: 100%;
}
/* 
.btn-service:hover{
   color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
  
} */

.button-modal{
    transition: all .5s;
}

.button-modal:hover{
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}