<section class="container-fluid hero2 d-flex align-items-center justify-content-center"> 
  <h4 class="services-title text-uppercase">Lo mejor de Netflix</h4>
</section>

<div class="cards">
    <h5 class="servicios title-text text-light  text-align-center text-uppercase">Servicios</h5>
    <h5 class="for-you title-text text-warning">¡Conocé lo mejor que tenemos para vos!</h5>
    <div class="container1 container pt-5 pb-5 pl-2 pr-2">
      <div class="card-row row bg-dark pt-4 pb-4">
  
<!-------CARD I------->
        <div class="cards-ind col-lg-4 pt-4 pb-4 m1">
          <div class="card ho bg-black text-light">
            <!-- Imagen -->
            <div class="imagen-card view overlay d-flex justify-content-center">
              <img class="card-img-top" src="/assets/planes-net.jpg" alt="Planes y Precios"> 
            <a href="#"><div class="mask rgba-white-slight"></div>
            </a>
            </div>
  
            <div class="card-body">
              <!-- Título -->
              <h4 class="card-title text-warning">Planes y Precios<span class="badge bg-primary text-light ml-3"> Actualizado </span></h4>
              <!-- Texto -->
              <p class="card-text">Consulta sobre los planes que ofrecemos, y elige el que mejor se adapte a tus necesidades.</p>
              <!-- Botón -->
              <button type="button" class="button-modal btn btn-outline-danger btn col-lg-12 pb-6 text-warning border border-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Conocer más
              </button>
            </div>
            </div>
        </div>

<!-------CARD II------->
        <div class="cards-ind col-lg-4 pt-4 pb-4">
            <div class="card ho bg-black text-light">
            <!-- Imagen -->
            <div class="imagen-card view overlay d-flex justify-content-center"><img class="card-img-top" src="/assets/multiplatforma-net.jpg" alt="Multiplataformas"> 
            <a href="#"><div class="mask rgba-white-slight"></div>
            </a>
            </div>
            <div class="card-body ">
              <!-- Título -->
              <h4 class="card-title text-warning">Multiplataforma</h4>
              <!-- Texto -->
              <p class="card-text ">Netflix está disponible para todos tus dispositivos móviles y TV. Compatible con ChromeCast y más.</p>
              <!-- Botón -->
              <button type="button" class="button-modal btn btn-outline-danger btn col-lg-12 pb-6 text-warning border border-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Conocer más
              </button>
              </div>
            </div>
          </div>
    <!-- CARD N°3 -->
    <div class="cards-ind col-lg-4 pt-4 pb-4">
        <div class="card ho bg-black text-light">
          <!-- Imagen -->
          <div class="imagen-card view overlay d-flex justify-content-center"><img class="card-img-top" src="/assets/soporte-net.jpg" alt="Soporte Netflix"> 
          <a href="#"><div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <div class="card-body">
            <!-- Título -->
            <h4 class="card-title text-warning">Soporte</h4>
            <!-- Texto -->
            <p class="card-text">Si tienes dudas o preguntas, puedes contactarte con el soporte las 24hs todos los días de la semana.</p>
            <!-- Botón -->
            <button type="button" class="button-modal btn btn-outline-danger btn col-lg-12 pb-6 text-warning border border-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Conocer más
            </button>
            </div>
          </div>
      </div>

      <!-- CARD N°4 -->
      <div class="cards-ind col-lg-4 pt-4 pb-4">
        <div class="card ho bg-black text-light">
          <!-- Imagen -->
          <div class="imagen-card view overlay d-flex justify-content-center"><img class="card-img-top" src="/assets/perfiles-net.jpg" alt="Más perfíles"> 
          <a href="#"><div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <div class="card-body">
            <!-- Título -->
            <h4 class="card-title text-warning">Más perfíles</h4>
            <!-- Texto -->
            <p class="card-text ">Crea hasta 5 perfíles para personas en tu hogar o amigos donde sea que estén.</p>
            <!-- Botón -->
            <button type="button" class="button-modal btn btn-outline-danger btn col-lg-12 pb-6 text-warning border border-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Conocer más
            </button>
            </div>
          </div>
      </div>

      <!-- CARD N°5 -->
      <div class="cards-ind col-lg-4 pt-4 pb-4">
        <div class="card ho bg-black text-light">
          <!-- Imagen -->
          <div class="imagen-card view overlay d-flex justify-content-center"><img class="card-img-top" src="/assets/estrenos-exc-net.jpg" alt="Estrenos Exclusivos"> 
          <a href="#"><div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <div class="card-body">
            <!-- Título -->
            <h4 class="card-title text-warning">Estrenos Exclusivos<span class="badge bg-danger text-light ml-3"> Nuevo </span></h4>
            <!-- Texto -->
            <p class="card-text">Disfruta los mejores estrenos de series y películas del año en todos lados.</p>
            <!-- Botón -->
            <button type="button" class="button-modal btn btn-outline-danger btn col-lg-12 pb-6 text-warning border border-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Conocer más
            </button>
            </div>
          </div>
      </div>
      <!-- CARD N°6 -->
      <div class="cards-ind col-lg-4 pt-4 pb-4">
        <div class="card ho bg-black text-light">
          <!-- Imagen -->
          <div class="imagen-card view overlay d-flex justify-content-center"><img class="card-img-top" src="/assets/otros-net.png" alt="Otros"> 
          <a href="#"><div class="mask rgba-white-slight"></div>
          </a>
          </div>
          <div class="card-body">
            <!-- Título -->
            <h4 class="card-title text-warning">Perfíles para niños</h4>
            <!-- Texto -->
            <p class="card-text">Los niños vivirán aventuras con sus personajes favoritos.</p>
            <!-- Botón -->
            <button type="button" class="button-modal btn btn-outline-danger btn col-lg-12 pb-6 text-warning border border-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Conocer más
            </button>
            </div>
          </div>
      </div>
      </div>
    </div>

   <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" width="10000px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" id="exampleModalLabel">Aviso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       No hay información disponible de lo que estás buscando.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Aceptar</button>
      </div>
    </div>
  </div>
</div>



<!------ CASTRO GALANTE, CARLOS JOSÉ - D.N.I.: 44.316.209 | DESAFIO: SEMANA N°8------>