<!-- <section class="mantenimiento d-flex align-items-center justify-content-center">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Mantenimiento</h4>
        <p>La galería se encuentra en mantenimiento en este momento. Vuelve más tarde. :(</p>
        <hr>
        <p class="mb-0">Pronto habrán novedades.</p>
      </div>
</section> -->


<!-------GALERÍA------->
<section class="hero4">
  <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner bg-transparent">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/assets/net-services.jpg" class="d-block w-100" alt="...">
        <h5 class="title-text text-decoration-underline pt-4 ">MULTIPLATAFORMA</h5>
       <p class="bg-text">Disfruta las novedades de Netflix donde sea que estés</p>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/asientos.jpg" class="d-block w-100" alt="...">
        <h5 class="title-text text-decoration-underline pt-4">CINES ABIERTOS</h5>
       <p class="bg-text">Extrenos exclusivos solo para Netflix</p>
      </div>
      <div class="carousel-item">
        <img src="/assets/cine_3.jpg" class="d-block w-100" alt="...">
        <h5 class="title-text text-decoration-underline pt-4">EL CINE EN TU CASA</h5>
       <p class="bg-text">Vive todo el mundo de Netflix como si estuvieses en un cine</p>
      </div>
      <div class="carousel-item">
        <img src="assets/movies_8.jpg" class="d-block w-100" alt="...">
        <h5 class="title-text text-decoration-underline pt-4">LAS MEJORES PRODUCCIONES</h5>
       <p class="bg-text">Las mejores series y películas</p>
      </div>
      <div class="carousel-item">
        <img src="assets/cine.jpg" class="d-block w-100" alt="...">
        <h5 class="title-text text-decoration-underline pt-4">DISFRUTA COMO QUIERAS</h5>
       <p class="bg-text">Tú eliges cómo ver el contenido</p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-transparent" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-transparent" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</section>


<!------ CASTRO GALANTE, CARLOS JOSÉ - D.N.I.: 44.316.209 | DESAFIO: SEMANA N°8------>