<!------FOOTER------->

<div class="footer container-fliod p-5">
    <nav class="col-12 row justify-content-center">
      <!-- Logo -->
      <a class="col-4 align-items-center justify-content-center" href="https://www.netflix.com">
        <img src="/assets/net-logo_2.png" alt="Logo de Netflix" class="img-logo mr-2 pl-0" height=100px pd-5>
      </a>
      <!-- C1 -->
      <ul class="col-4 list-unstyled">
      <li class="font-weight-bold text-uppercase text-danger text-decoration-underline">Información</li>
        <li><a href="" class="text-light" routerLink="Inicio">Ayuda</a></li>
        <li><a href="" class="text-light" routerLink="Contacto">Contacto</a><span class="badge rounded-pill bg-info text-light ml-2">24hs</span></li>
        <li><a href="" class="text-light" routerLink="Servicios">Planes y Precios</a></li>
      </ul>
      <!-- Redes Sociales -->
      <ul class="redes-sociales col-1 list-unstyled">
        <!-- Íconos -->
        <li class="font-weight-bold text-uppercase text-danger text-decoration-underline">Redes Sociales</li>
          <li class="d-flex justify-content-between">
            <a href="https://wa.me/+5492644119445" target="blank" class="text-light"><i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.facebook.com/netflix" target="_blank" class="text-light"><i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/netflixlat/?hl=es-la" target="_blank" class="text-light"><i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.twitter.com/netflix" target="_blank" class="text-light"><i class="fab fa-twitter"></i>
          </a>
            <a href="https://www.youtube.com/c/NetflixLATAM" target="_blank" class="text-light"><i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.linkedin.com/company/netflix/" target="_blank" class="text-light"><i class="fab fa-linkedin-in"></i>
            </a>
            <a href="mailto:carlosjosecastro.p@gmail.com" target="_blank" class="text-light"><i class="fas fa-envelope"></i>
            </a>
            </li>
          </ul>

    </nav>    
    <h5 class="d-flex justify-content-center text-light pt-3">Carlos José Castro Galante | 44.316.209<span class="badge bg-danger btn btn-outline-light text-light ml-3">Creador</span></h5>
    <h5 class="d-flex justify-content-center text-light">Desafío Semana<span class="badge bg-warning btn btn-outline-light text-dark ml-3">N°7</span></h5>
    
  </div>


<!------ CASTRO GALANTE, CARLOS JOSÉ - D.N.I.: 44.316.209 | DESAFIO: SEMANA N°8------>