/* CASTRO GALANTE, CARLOS JOSÉ - DNI: 44.316.209 | DESAFÍO: SEMANA N°8 */


/* ------FOOTER------ */
.footer{
    background-color: black;
    height: 250px;
    width: 100%;
}

/* ------REDES SOCIALES - FOOTER------ */
.redes-sociales li a{
    font-size: 20px;
    padding: 2px;
    transition: all .5s;
}

.redes-sociales li a:hover{
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;

}

