/* CASTRO GALANTE, CARLOS JOSÉ - DNI: 44.316.209 | DESAFÍO: SEMANA N°8 */

/* ------HERO------ */

.hero{
    height:70rem;
    width: 100%;
    border-bottom: rgb(46, 46, 46) solid 8px;
    background-image:url('/assets/netflix.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
}

/* ------TÍTULO GENERAL------ */
.title-general{
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

