<section class="hero">
   <div class="image">
       <img src="/assets/netflix.com">
   </div>
</section>

<div class="container-btn-mode">
    <div id="id-sun" class="btn-mode sun active">
       <i class="fas fa-sun"></i>
    </div>
    <div id="id-moon" class="btn-mode moon">
       <i class="fas fa-moon"></i>
    </div>
 </div>

<section class="informacion-general pt-2 pb-5 ml-5 mr-5">
    <h4 class="title-general d-flex justify-content-center text-light text-uppercase pb-5">Información general <h5><span class="badge bg-warning text-dark">IMPORTANTE</span></h5></h4>
    <div class="row col-12 justify-content-around">
        <div class="col-5 justify-content-between">
            <h4 class="title-text text-warning d-flex justify-content-center">¿Qué es Netflix?</h4>
            <p class="text-light text-center">Netflix es un servicio de streaming que ofrece una gran variedad de películas, series y documentales premiados en casi cualquier pantalla conectada a internet.
                Todo lo que quieras ver, sin límites ni comerciales, a un costo muy accesible. Siempre hay algo nuevo por descubrir, ¡y todas las semanas se agregan más películas y series!</p>
        </div>

        <div class="col-5">
            <h4 class="title-text text-warning d-flex justify-content-center">¿Cuánto cuesta Netflix?</h4>
            <p class="text-light text-center">Disfruta Netflix en tu smartphone, tablet, smart TV, laptop o dispositivo de streaming, todo por una tarifa plana mensual. Planes desde $ 379 hasta $ 939 al mes (sin impuestos incluidos). Sin costos adicionales ni contratos.</p>
        </div>
        
        <div class="col-5 pt-5">
            <h4 class="title-text text-warning d-flex justify-content-center">¿Dónde puedo ver Netflix?</h4>
            <p class="text-light text-center">Disfruta donde quieras, cuando quieras. Inicia sesión en tu cuenta de Netflix para ver contenido al instante a través de netflix.com desde tu computadora personal o en cualquier dispositivo con conexión a internet que cuente con la app de Netflix, como smart TV, smartphones, tablets, reproductores multimedia y consolas de juegos.

                Además, puedes descargar tus series favoritas con iOS, Android o la app para Windows 10. Con la función de descarga, puedes ver donde vayas y sin conexión a internet. Lleva Netflix contigo adonde sea.</p>
        </div>

        <div class="col-5 pt-5">
            <h4 class="title-text text-warning d-flex justify-content-center">¿Qué puedo ver en Netflix?</h4>
            <p class="text-light text-center">Netflix tiene un amplio catálogo de películas, series, documentales, animes, originales premiados y más. Todo lo que quieras ver, cuando quieras.</p>
        </div>

    </div>
</section>

<!------ CASTRO GALANTE, CARLOS JOSÉ - D.N.I.: 44.316.209 | DESAFIO: SEMANA N°8------>