/* CASTRO GALANTE, CARLOS JOSÉ - DNI: 44.316.209 | DESAFÍO: SEMANA N°8 */

/* ------HERO DE CONTACTO------ */
.hero3{
    height:70rem;
    width: 100%;
    border-bottom: rgb(46, 46, 46) solid 8px;
    background-image:url('/assets/contacto_2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
}

.help{
    padding:15px;
    font-size: 90px;
    color:rgb(255, 255, 255);
    text-shadow: rgb(82, 3, 253) 0em 0.1em 0.4em;
    border: rgb(255, 255, 255) 6px solid;
    background-color: rgba(0, 0, 0, 0.600);
}

/* ------FORMULARIO------ */

.contacto-titulo{
    margin-bottom: 70px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.for-you-c{
    margin-top: 0px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.formulario-cont{
    height:70rem;
    width: 100%;
    border-bottom: rgb(46, 46, 46) solid 8px;
}

.form-1{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    height: 400px;
}

.text-aviso{
    background-color: rgba(0, 0, 0, 0.700);
    width: 100%;
}

.place-ico i{
    font-size: 30px;
    text-align: center;
}



.form-message textarea{
    resize: none;
}

.btn-enviar{
    transition: all .5s;
}

.btn-enviar:hover{
    color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;

}
