<section class="hero3 scontainer-fluid hero2 d-flex align-items-center justify-content-center">
  <h4 class="help text-uppercase">Dispuestos a ayudarte</h4>
</section>

<!------FORMULARIO------>
<section class="formulario-cont form-container pb-5">
    <h5 class="contacto-titulo title-text text-light pt-5 pb-2 text-align-center text-uppercase">CONTÁCTANOS<h6>Escribe tu mensaje las: <span class="badge bg-primary text-light ">24hs</span></h6></h5>
    <form class="col-12 form-1">
      <div class="place-ico container row mx-auto bg-dark pt-4 pb-4">
        <div class="form-group col-12 text-light pb-2 justify-content-center">
          <!-- <label>Nombre/s</label> -->
          <i class="fas fa-user text-danger pb-2"></i><input type="text" class="form-control" name="nombre" placeholder="Nombre/s" required>
          <div id="" class="text-aviso form-text p-2 text-warning">Ejemplo: Juan Carlos</div>
        </div>
  
        <div class="form-group col-12 pb-2">
          <!-- <label>Apellido/s</label> -->
          <i class="fas fa-user text-danger pb-2"></i><input type="text" class="form-control" name="apellido" placeholder="Apellido/s" required>
          <div id="" class="text-aviso form-text p-2 text-warning">Ejemplo: Vázquez</div>
        </div>
        
        <div class="form-row col-12 text-light pb-4">
          <!-- <label>Correo Electrónico</label> -->
          <i class="fas fa-at text-danger pb-2"></i><input type="email" class="form-control" name="email" placeholder="tucorreo@gmail.com" required>
          <div id="" class="text-aviso form-text p-2 text-warning">Recuerda escribir bien el correo para luego contactarte. No se comparte con nadie.</div>
        </div>

<!-------OPCIONES Y TEXTAREA------->
        <div class="form-message col-12 pb-4">
          <!-- <label for="exampleFormControlTextarea1" class="form-label"></label> -->
          <i class="fas fa-envelope text-danger pb-2"></i>
          <div class="input-group mb-3 pt-2 pb-2">
            <label class="input-group-text bg-danger text-light" for="inputGroupSelect01">Temas</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Elegir el tema de tu consulta...</option>
              <option value="1">Ventas</option>
              <option value="2">Reembolsos</option>
              <option value="3">Sugerencias</option>
              <option value="4">Otro</option>
            </select>
          </div>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Escribe tu mensaje..."></textarea>
          <div id="" class="text-aviso form-text p-2 text-warning">Escribe tu consulta de forma concreta para poder ayudarte facilmente. Recuerda no escribir contraseñas o datos privados.</div>
        </div>
  
        <div class=" col-12 pt-2 justify-content-end">
      <button type="submit" class="btn-enviar btn btn-danger col-lg-12 text-light border-white"><i class="plane fas fa-paper-plane"></i></button>
    </div>
        </div>
    </form>
  </section>

  
<!------ CASTRO GALANTE, CARLOS JOSÉ - D.N.I.: 44.316.209 | DESAFIO: SEMANA N°8------>